<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-success">
        <div class="panel-body">
          <div class="list-group"
               dnd-sortable-container
               [sortableData]="initialContents">
            <div *ngFor="let item of initialContents; let i = index"
                 class="list-group-item"
                 dnd-sortable
                 [sortableIndex]="i">
              <app-editor-box [content]="item"
                              (contentChange)="updateOutput($event, i)"
                              (remove)="removeBox(i)"
                              (insertAfter)="insertBoxAfter(i)"
              ></app-editor-box>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <app-debugger [content]="changedContents"></app-debugger>
        </div>
      </div>
    </div>
  </div>
</div>
